/* Import "Roboto" and "Asar" Fonts */
@import url("https://fonts.googleapis.com/css2?family=Asar&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

/* CSS Variables */
:root {
  --primary-font: "Roboto", sans-serif;
  --secondary-font: "Asar", cursive;
  --primary-color: #361309;
  /* dark brown */
  --secondary-color: #843913;
  /* medium brown */
  --highlight-color: #976141;
  /* light brown */
  --highlight-color-light: #c3cdcc;
  /* light grey */
  --highlight-color-light-transparent: #c3cdcc99;
  /* light grey transparent */
  --text-background-color: #ebebeb;
  /*light grey background */
}

/* Global styles ----------------------- */
body {
  font-family: var(--primary-font);
  /* pushes the top of the header down under fixed navbar */
  padding-top: 56px;
}

h1,
h2,
h3,
h4 {
  font-family: var(--secondary-font);
  color: var(--primary-color);
}

/* Hero image styles */
.hero {
  height: 250px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  /* Horizontal only — avoids height bloating */
  padding: 0 7%;
  color: white;
}

.hero-text-bg {
  background-color: var(--highlight-color-light-transparent);
  padding: 1rem 2rem;
  /* Removes excessive space */
  margin: 0;
  display: inline-block;
}

/* Buttons ----------------------- */
/* General button style setup taken from Boardwalk games project */
.custom-button-filled {
  background-color: var(--highlight-color);
  border: var(--highlight-color);
  color: white;
}

.custom-button-filled:hover {
  background-color: var(--secondary-color);
  border: var(--secondary-color);
  color: white;
}

.custom-button-outlined {
  border: 2px solid white;
  color: white;
}

.custom-button-outlined:hover {
  background-color: var(--highlight-color);
  color: white;
}

/* Bigger button on hero images */
.button-big {
  padding: 1% 3%;
  font-size: 110%;
}

/* Navbar ----------------------- */
.navbar {
  background-color: var(--secondary-color);
}

/* Change the color of nav links for better contrast */
.navbar .nav-link {
  color: white;
}

/* Underline active links */
.navbar .nav-link.active,
.navbar .nav-link.show {
  /* underline */
  border-bottom: 1px solid white;
  /* creates space between text and underline */
  padding-bottom: 2px;
}

/* Hover effect */
.navbar .nav-link:hover {
  font-weight: bold;
}

.dropdown-menu {
  background-color: var(--highlight-color);
}

.dropdown-menu .dropdown-item {
  color: white;
  background-color: var(--highlight-color);
}

.dropdown-menu .dropdown-item:hover {
  font-weight: bold;
  background-color: var(--highlight-color);
}

/* Header - Hero Image ----------------------- */
#hero-home {
  background: url("../images/hero-home.webp") 50% 45% / cover no-repeat;
}

/* Main - Section: Introduction ----------------------- */
#intro .row {
  min-height: 300px;
}

#intro-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

#circle-img-bg {
  width: 150px;
  height: 150px;
  background: url(../images/intro-image.webp) no-repeat 40% center / cover;
  border-radius: 50%;
  /* centers block horizontally */
  margin: 0 auto 20px auto;
}

/* Main - Section: Tours ----------------------- */
#tours {
  padding-top: 1rem;
}

#tours .card {
  height: 150px;
  border: none;
  background-size: cover;
  background-position: center;
}

#tours h3 {
  text-transform: uppercase;
}

.card-text-bg {
  background-color: var(--highlight-color-light-transparent);
  padding: 0.4rem 0.8rem;
  margin: 0;
}

/* Hover effect when the whole card is hovered */
.card-title {
  transition: transform 0.3s ease, color 0.3s ease;
}

.card:hover .card-title {
  /* Slight zoom */
  transform: scale(1.1);
}

/* Card images used on tour pages as well */
/* Tour - Spiritual */
#hero-spiritual {
  background: url(../images/spiritual-hero.webp) center 40% / cover no-repeat white;
}

/* Tour - Cultural */
#hero-cultural {
  background: url(../images/cultural-hero.webp) center 40% / cover no-repeat white;
}

/* Tour - Adventure */
#hero-adventure {
  background: url(../images/adventure-hero.webp) center 40% / cover no-repeat white;
}

/* Tour Pages -----------------------  */
/* Tour Facts */
.tour-facts-bg {
  background-color: var(--text-background-color);
  margin: 0 1px;
}

/* Carousel on tour pages */
/* Limit the carousel to a max-height and center the image if it's too large */
#carouselExampleIndicators {
  width: 100%;
  overflow: hidden;
}

#carouselExampleIndicators .carousel-item img {
  width: 100%;
  max-height: 300px;
  object-fit: cover;
  object-position: center;
  display: block;
}

/* Success Page ----------------------- */
#success {
  padding: 4rem;
  background: url(../images/success-img.webp) no-repeat center center / cover;
  color: white;
  max-width: 600px;
}

#success h1 {
  color: white;
  font-size: 3rem;
}

/* Booking page ----------------------- */
#booking-form {
  background-color: var(--text-background-color);
}

/* Footer ----------------------- */
#footer {
  background-color: var(--secondary-color);
  color: white;
  text-align: center;
}

.footer-heading-color {
  color: var(--highlight-color-light);
}

#footer i {
  color: var(--highlight-color);
}

#footer .fa-whatsapp {
  font-size: 1.5rem;
}

#footer .social-links i {
  padding: 0 20px;
  font-size: 2rem;
}

#footer .social-links i:hover {
  color: var(--highlight-color-light);
}

/* Media queries for other screen sizes ----------------------- */
/* Adjust styles for large screens */
@media screen and (min-width: 1200px) {

  /* Adjust hero home image so that you see more of the sky */
  #hero-home {
    background: url("../images/hero-home.webp") center 40% / cover no-repeat;
  }
}

/* Adjust styles for medium screens */
@media screen and (min-width: 768px) {

  /* Adjust hero image height */
  .hero {
    height: 300px;
  }

  /* Adjust height of circular image */
  #circle-img-bg {
    width: 200px;
    height: 200px;
  }

  /* Adjust height of tour cards */
  #tours .card {
    height: 200px;
  }

  /* Give more space to carousel items */
  #carouselExampleIndicators .carousel-item img {
    max-height: 650px;
  }
}

/* Adjust styles for small screens */
@media screen and (min-width: 576px) {

  /* Give more space to carousel items */
  #carouselExampleIndicators .carousel-item img {
    max-height: 500px;
  }
}

/* Adjust styles for small screens */
@media screen and (min-width: 420px) {

  /* Give more space to carousel items */
  #carouselExampleIndicators .carousel-item img {
    max-height: 420px;
  }
}