/* Import "Roboto" and "Asar" Fonts */
@import url('https://fonts.googleapis.com/css2?family=Asar&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* CSS Variables */
:root {
    --primary-font: "Roboto", sans-serif;
    --secondary-font: "Asar", cursive;
    --primary-color: #361309 ; /* dark brown */
    --secondary-color: #843913 ; /* medium brown */
    --highlight-color: #a66946; /* light brown */
    --highlight-color-light: #c3cdcc ; /* light grey */
    --highlight-color-light-transparent: #c3cdcc99 ; /* light grey */

/* 
    #c3cdcc (light grey)

#843913 (medium brown)

#361309 (dark brown)

#a66946 (light brown)

#788485 (dark grey) */
}

/* grid visualisation CSS for testing */

/* .container,
.row {
    border: 2px solid black;
}

.col-12 {
    border: 2px solid white;
    background-color: lightgray;
} */

/* Global styles */
body {
    font-family: var(--primary-font);
    padding-top: 56px; /* pushes the top of the header down under fixed navbar */
}

h1, h2, h3 {
    font-family: var(--secondary-font);
    color: var(--primary-color);
}

/* Buttons */
.custom-button-filled {
    background-color: var(--highlight-color);
    border:  var(--highlight-color);
    color: white;
    padding: 2% 5%;
}

.custom-button-filled:hover {
    background-color: var(--secondary-color);
    border:  var(--secondary-color);
    color: white;
}

.custom-button-outlined {
    border:  2px solid white;
    color: white;
}

.custom-button-outlined:hover {
    background-color: var(--highlight-color);
    color: white;
}


/* Navbar */
#navbar {
    background-color: var(--secondary-color);
}

/* Header - Hero Image*/
#hero {
    background: url(../images/hero-home.jpg) 50% 75%/cover no-repeat white; 
    min-height: 300px;
    padding: 5% 7%;
}

#hero-text {
    /* set transparent background for hero text */
    background-color: var(--highlight-color-light-transparent);
    min-height: 100px;
    padding: 2%;
}


/* Footer */
#footer {
    background-color: var(--secondary-color);
    color: white;
}